---
title: 'Kontakt'
layout: page
pageOrder: 6
---

.row
	.col-xs-12
		p Telefon tid:
		p Man - Fredag: 08:00 - 15:30
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2265.6466266087023!2d8.744441!3d55.399071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464b39819647a7ff%3A0xe5cfb9b5ddbf3fea!2sHans+Jensens+Vej+1%2C+6771+Gredstedbro%2C+Denmark!5e0!3m2!1sen!2shu!4v1425151454078", height="450", frameborder="0", style="border:0;width:100%")
