---
title: 'Efteruddannelser'
layout: page
pageOrder: 3
---

.row
	.col-xs-12
		p Vi ønsker vores medarbejder opretholder et højtfagligt niveau og bliver udfordret for at kunne videreudvikle sig. Derfor kan vi tilbyde at efteruddanne vores medarbejder.
