---
title: 'Faglige kompetencer'
layout: page
pageOrder: 3
---

.row
	.col-xs-12
		p Der ansættes kun fagligt uddannede til den personlige pleje, træning og evt. sygepleje.
		p Køkkenet bestyres af en uddannet og meget erfaren køkkenleder.
		p Teknik og systemer superviseres af erfarne uddannede medarbejdere.
		p Den daglige sundhedsfaglige kvalitet superviseres af sygeplejersker.
		p En uddannet fysioterapeut forestår de opgaver der går ud på at hjælpe beboerne til at udvikle eller bevare færdigheder. At vejlede personalet i korrekte arbejdsstillinger og at beskæftige visiterede gæster i dagcenteret med små træningsopgaver og evt. gå ture i området.
