---
title: 'Job'
layout: page
pageOrder: 4
---

.row
	article.col-xs-12
		img(src='/image/job.jpg', alt='job')

.row
	article.col-xs-12
		br
		p Vi søger altid nye, kompetente og erfarne medarbejdere med gode kompetencer eller erfaring som kan bruges på vores plejehjem.
		p Vi ønsker at være en attraktiv arbejdsplads, med gode muligheder for at udvikle sine kompetencer. Faglærte tilbydes opdateringskurser og relevant kortere efteruddannelse og får derefter evt. tilbud om at komme tilbage til virksomheden med nye relevante kompetencer.
		p Interesseret: Så udfyld nedestående ansøgningsskema eller send en motiveret ansøgning med dit CV og oplysninger om din erhvervserfaring evt. sundhedsfagligt, samt hvor du fortæller lidt om dig selv.
		p Ansøgningen sendes til info@karstensminde.dk

		h2 Kontakt os
		p Har du spørgsmål eller lyst til at høre nærmere om et job hos karstensminde plejehjem, er du velkommen til at kontakte os på 75 43 14 64.
		p Vi siger tak for din interesse i Karstensminde plejehjem.
		p FORM
