---
title: 'Ledelse'
layout: page
pageOrder: 1
---

p: b Ulla K Petersen
p Forstander og indehaver
p: a(href="mailto:up@karstensminde.dk") up@karstensminde.dk
hr
p: b Karin Aasted
p Daglig leder og sygeplejerske
p: a(href="mailto:karin@karstensminde.dk") karin@karstensminde.dk
hr
p: b Karen Pirchert
p Økonom
p: a(href="karen@karstensminde.dk") karen@karstensminde.dk
hr
p: b Administration
p: a(href="karen@karstensminde.dk") karen@karstensminde.dk
p Karstensminde: Kontakt telefon med viderestilling:
p Akut nr.:
