---
title: 'Ledelse'
layout: page
pageOrder: 2
---

.ledelse
	b Ulla K Petersen
	span Forstander og indehaver
	p: a(href="mailto:up@karstensminde.dk") up@karstensminde.dk

.ledelse
	b Karin Aasted
	span Daglig leder og sygeplejerske
	a(href="mailto:karin@karstensminde.dk") karin@karstensminde.dk

.ledelse
	b Karen Pirchert
	span Økonom
	a(href="karen@karstensminde.dk") karen@karstensminde.dk
br
br
p: b Administration
p: a(href="karen@karstensminde.dk") karen@karstensminde.dk
p Karstensminde: Kontakt telefon med viderestilling:
p Akut nr.:
