---
title: 'Dagcenter'
layout: page
pageOrder: 1
---

.row
	article.col-xs-12
		p I vores dagcenter er der mulighed for samvær og aktiviteter med de andre beboer

.row
	article.col-xs-12.col-sm-6
		img(src="/image/dagcenter1.jpg")
	article.col-xs-12.col-sm-6
		img(src="/image/dagcenter2.jpg")

.row
	article.col-xs-12
		br
		p Aktivitets- og dagcenter pavillonen, en del af hjemmet og udsigt til en del af terrasse- og parkanlægget. Let adgang og kørsel på hele området for kørestolsbrugere.
