---
title: 'Fortid'
layout: page
pageOrder: 1
---

.row
	article.col-xs-12.col-sm-12.col-md-6
		p Kort historisk gennemgang:
		p Ejer af Plejehjemmet Karstensminde, Ulla Kristine Petersen, foran den ældre, men moderniserede fløj af plejehjemmet.
		p Hjemmeplejen er oprindeligt grundlagt i 1954, hvilket tilfældigvis er Ulla Petersens fødeår. Yderligere bærer vejen hvor plejehjemmet ligger samme navn som Ulla Petersens fader Hans Jensen.
	article.col-xs-12.col-sm-12.col-md-6
		img(src="/image/fortid.jpg")

