---
title: 'Nutid'
layout: page
pageOrder: 2
---

.row
	article.col-sm-12
		p Plejehjemmet er totalt istandsat og med nyt inventar både på fælles-, service- og boligarealer Alle lokaler og lejligheder fremtræder med nye hvidevarer og teknik.
