---
title: 'Værdigrundlag'
layout: page
pageOrder: 3
---

.row
	article.col-sm-12
		p Anerkendelse, ligeværdighed og tolerance er de principper hjemmet vil have fokus på.
		p Kvalitet, respekt og trivsel kombineret med sund fornuft vil præge arbejdet og atmosfæren på hjemmet.
		p Der skal vises gensidig respekt for beboernes holdninger, værdinormer og forskellige observans.
		p Er der et ønske om særlige fællesaktiviteter f. eks. morgensang eller drøftelse af væsentlige livsnære emner vil dette også ske. Beboerråd og ledelse vil sammen med venneforening lægge programmer for forskellige spændende aktiviteter og aktivering. Det vil også indbefatte udflugter, spisning og aktiviteter i Blå Stue. Der kan blive vist film, billeder eller holdt foredrag om forskellige spændende emner. Der vil blive arbejdet med håndgerning og lignende.
		p Atmosfære, omgivelserne og personalet skal medvirke til en fornemmelse af, at være hjemme, så beboerens valg af livsform kan fortsætte og de kan leve efter de samme værdier som tidligere.
		p Udsøgt og højtuddannet personale vil være til stede døgnet rundt og have ønsket om at udøve deres hverv med respekt og medmenneskelighed.
		p Med en solid forankring i lokalsamfundet og med en drift under hensyntagen til stedets traditioner samt et samarbejde med både støtteforening, venneforening og pårørende vil give stedet en attraktiv atmosfære.
		p Kvaliteten af plejen, ernæringen og hjemmets aktiviteter skal i høj grad bidrage til at højne beboernes livskvalitet så de vil ”føle sig rigtigt hjemme! ”
		p Tryghed for beboerne: Tryghed døgnet rundt med erfarent og hjælpsomt personale
		p Omkring mærkedage og særlige lejligheder vil venneforening og støttegruppe gøre en indsats for at hjælpe og støtte beboerne til at arrangere og planlægge sådanne lejligheder.
		p Køkkenet vil stå til rådighed for særlige arrangementer enten ved pårørende besøg eller ved særlige mærkedage og arrangementer.
		p Der er mulighed for at tilkøbe forskellige hjælp og ydelser hvis du ønsker det.

		h2 For personalet
		p Karstensminde skal være en attraktiv arbejdsplads med høj faglighed.
		p Særlig fokus vil der være på opdatering af uddannelser og faglige færdigheder ved interne og eksterne kurser og temadage.
		p Væsentligt for plejehjemmet er et godt og sikkert arbejdsmiljø for dets ansatte.
		p Dette befordres også ved praktiseret omsorg de ansatte imellem samt igennem en dygtig ledelse.

		h2 Mål
		p Ansvarlighed og hjælpsomhed kolleger imellem.
		p Rettidig omhu ved ansættelse af udsøgt og særligt engagerede og erfarne medarbejdere.
		p Medarbejderes evne til tværfagligt samarbejde og befordring af menneskelige kvalifikationer vil skabe et trygt og professionelt arbejdsmiljø.

		h2 Pårørende/ frivillige
		p Der ønskes en god dialog med beboere, disses pårørende og de frivillige der støtter op om Karstensminde.
		p Den veletablerede venneforening gør en stor indsats for at få beboerne til at føle sig hjemme.
		p Velkommen til Esbjerg Kommunes første friplejehjem.
		p Forstander: Ulla Kristine Petersen
		p Plejehjemmet: Karstensminde – Gredstedbro
		p 5. august, 2014
