---
title: 'Bevilligede ophold'
layout: page
pageOrder: 4
---

.row
	article.col-sm-12
		p Du kan hos din hjemkommune, hvis du er bevilliget plejehjemsophold, søge om en plads hos os.
		p Det vil sige at udenbys borgere også, hvis der er bevilliget plejehjemsplads og de er i målgruppen for vort plejehjem, kan søge en lejlighed på Karstensminde.
		h2 Plejehjemmets målgruppe er:
		p Borgere visiterede til plejebolig og visiterede til hjælp efter Servicelovens §§ 83, 85 og 87.
		p Målgruppen er borgere med betydelig nedsat fysisk eller psykisk funktionsevne. Personer der har behov for kompenserende hjælp på grund af varig nedsat funktionsevne og har behov for at bevare eller udvikle deres psykiske, fysiske eller sociale funktioner.
		p Personer der på grund af aldersbetinget svækkelse eller en progredierende lidelse, eks. demens har brug for støtte til at opnå og fastholde identitet og en tilfredsstillende livsudfoldelse.

		p Nærmere information: Kontakt din hjemkommune eller hvis du er fra Esbjerg Kommune:
		p Direkte kontakt til kommunen for Esbjerg Kommune:
		p Telefon:&nbsp;
			a(href="tel:004576161616") 7616 1616
		p Hjemmeside:&nbsp;
			a(href="http://www.esbjergkommune.dk", target="_blank") http://www.esbjergkommune.dk
