---
title: 'Boligsikring'
layout: page
pageOrder: 5
---

.row
	article.col-sm-12
		p Du kan søge om boligsikring til vores lejligheder. Dette gøres ved at kontakte borgerservice på kommunen.
		p Direkte kontakt til kommunen.
		p Telefon:&nbsp;
			a(href="tel:004576161616") 7616 1616
		p Hjemmeside:&nbsp;
			a(href="http://www.esbjergkommune.dk", target="_blank") http://www.esbjergkommune.dk
		p Bed om Borgerservice.
