---
title: 'Ernæring'
layout: page
pageOrder: 2
---

.row
	article.col-sm-12
		.image-list
			.image-list-item(style="background-image: url('/image/food1.jpg')")
			.image-list-item(style="background-image: url('/image/food2.jpg')")
			.image-list-item(style="background-image: url('/image/food3.jpg')")
			.image-list-item(style="background-image: url('/image/food4.jpg')")
			.image-list-item(style="background-image: url('/image/food5.jpg')")
		p Et veluddannet køkkenteam, nyt køkken inventar og friske råvarer danner rammer og grundlag for dejlig hjemmelavet og nærende mad til først og fremmest vore beboere, men også vore gæster og pårørende der måtte være i huset omkring spisetidspunkterne.  Faciliteterne gør det muligt for pårørende at komme og nyde en middag i samvær med dig.
		p Vi gjort det muligt for udefrakommende pensionister fra nærområdet at komme og spise retter fra vort professionelle køkken. Vi vil servere varme retter alle ugens syv dage. De varme retter vil bestå af traditionel dansk mad baseret på friske råvarer.

		h2 Takster i forbindelse med ophold i plejebolig – Udleveres til lejere
		p Pris pr. måned for fuld forplejning når man bor i plejebolig: 3400,00

		h2 Måltider pr. enhed
		table.price-table
			tr
				td Hovedret
				td 48,00
			tr
				td Biret
				td 14,00
			tr
				td Aftensmad - 2/2 - stykker brød
				td 22,00
			tr
				td Aftensmad - 3/2 - stykker brød
				td 32,00
			tr
				td Drikkevarer – sodavand
				td 5,00
			tr
				td Ekstra kaffe og kage til pårørende og besøgende pr. person
				td 25,00
			tr
				td Leverance af mad til private arrangementer
				td Spørg køkkenlederen
			tr
				td Leverance i forbindelse med private besøg
				td Spørg i køkkenet
		br
		small (Karstensminde plejecenter – priserne er redigeret d. 01-03-2015)