---
title: 'Lejemål'
layout: page
pageOrder: 1
---

.row
	article.col-sm-12
		p Følgende lejemål udlejeres:
		p Bilag 2-5 (grundrids, areal og priser)
		p Bilag 6: billedgennemgang (opstilling af med billeder, tekst og m2)
		p Følgende lejemål er ledige pr. 01.03.2015:
		p Kontakt os for nærmere information.
