---
title: 'Procedure ved indflytning'
layout: page
pageOrder: 6
---

.row
	article.col-sm-12
		p Når du er bevilliget plejehjemsplads og du har valgt bosted, vil din hjemkommune arrangere kontakt til plejehjemmet og til hjemmets beliggenhedskommune med forespørgsel om plads og indflytningsanvisning fra hjemmet. Det vil blive vurderet om du tilhører hjemmets målgruppe.
		p Når plads er bevilliget, du har valgt bosted og plads er anvist af hjemmet, vil vi så gerne drøfte indflytningen med dig. Er du fra en anden kommune, er du velkommen til først at besøge stedet. Du eller dine pårørende kan også tage telefonisk kontakt til Karstensminde. Er du fra Esbjerg Kommune vil vi gerne besøge dig og fortælle dig om stedet og evt. drøfte med dig de praktiske ting omkring en flytning. F. eks. hvordan pladsforholdene er og hvilke specielle forhold der gør sig gældende for dig.
		p Hvilken størrelse lejlighed du har behov for og hvilke ydelser du har brug for i dagligdagen. Hvilke tilkøbsmuligheder der er på hjemmet.
