---
title: 'Serviceydelser'
layout: page
pageOrder: 3
---

.row
	article.col-sm-12
		h2 Rengøring og vask
		table.price-table
			tr
				td Rengøring / rengøringsmidler pr. måned
				td 155,00
			tr
				td Vask af personligt tøj pr. måned
				td 140,00
			tr
				td Vask af eget linned pr. måned
				td 140,00
			tr
				td Vask og leje af linned pr. måned
				td 195,00
			tr
				td Leje af gardiner pr. måned
				td 21,00
			tr
				td Vask af gardiner
				td 150,00
			tr
				td Nedtagning og ophæng af gardiner
				td 150,00
		br
		p Pedelhjælp til ophængning i lejligheden og rengøring af terrasse - Spørg pedellen.
		p Priser for ledsagelse: Afhænger af afstande og tidspunkter. Spørg venligst på kontoret
		p For beboere: Pleje, praktisk hjælp, sygepleje hvis uddelegeret og rengøring skal leveres af bostedet. Ernæring i det omfang det skal tilkøbes færdigtilberedt og beboeren ikke selv kan tilberede, leveres af bostedet.
		p Priser reguleres når der foreligger en prisregulering fra Sundhed- og Omsorgsudvalget, Esbjerg Kommune der betragtes som vejledende satser.
		small (Karstensminde plejecenter – priserne er redigeret d. 01-03-2015)
